

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
.formClass {
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}
label {
  margin: 10px;
}
